<h1>Reserva da Sala de Reunião</h1>

<%= link_to "<<", { week: @first_day_of_week - 7 }, class: 'navigation-link' %>
<%= "Semana de #{@first_day_of_week.strftime("%d/%m/%Y")} a #{@last_day_of_week.strftime("%d/%m/%Y")}" %>
<%= link_to ">>", { week: @first_day_of_week + 7 }, class: 'navigation-link' %>

<table>
  <thead>
    <tr>
      <th>Horário</th>
      <th>Segunda-feira</th>
      <th>Terça-feira</th>
      <th>Quarta-feira</th>
      <th>Quinta-feira</th>
      <th>Sexta-feira</th>
    </tr>
  </thead>
  <tbody>
    <% (6..18).each do |hour| %>
      <tr>
        <td><%= "#{hour}:00" %></td>
        <% @dates_for_days.each do |date| %>
          <td data-controller="manage-booking">
            <% event = "#{date} #{hour}" %>
            <% booking = Booking.find_by(booking_datetime: event.to_datetime) %>
            <% if booking %>
              <button type="button" data-bs-toggle="modal" data-bs-target="#showBookingModal<%= booking.id %>">
                <%= "reservado para #{booking.user.name}" %>
              </button>
              <%= render "show_booking_modal", booking: booking, modal_id: "showBookingModal#{booking.id}" %>

              <% if booking.user == current_user && @current_date >= Date.today %>
                <button type="button" data-bs-toggle="modal" data-bs-target="#editBookingModal<%= booking.id %>">
                  <%= "editar" %>
                </button>
                <%= render "edit_booking_modal", booking: booking, modal_id: "editBookingModal#{booking.id}" %>
                <button data-action="click->manage-booking#deleteBooking" type="button" value="<%= booking.id %>" data-manage-booking-target="bookingId"> <%= "X" %></button></p>
              <% end %>

            <% else %>
              <% if @current_date >= Date.today || @dates_for_days.include?(Date.today) %>
                <button data-action="click->manage-booking#newBooking" type="button" data-date= "<%= date.strftime("%d/%m/%Y") %> "data-hour="<%= hour %>"> <%= "Disponível" %></button></p>
              <% else %>
                <%= 'disponível' %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
